<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Behold_Emailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Tableau_Emailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Behold_Emailer.Properties.Settings>
            <setting name="tableau_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_admin_username" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_admin_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="repository_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="repository_pw" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="text_email_template_filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="email_sender" serializeAs="String">
                <value/>
            </setting>
            <setting name="tabcmd_program_location" serializeAs="String">
                <value/>
            </setting>
            <setting name="tabcmd_config_location" serializeAs="String">
                <value/>
            </setting>
            <setting name="html_email_template_filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value/>
            </setting>
            <setting name="export_archive_folder" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server_username" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server_tls" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server_port" serializeAs="String">
                <value/>
            </setting>
        </Behold_Emailer.Properties.Settings>
        <Tableau_Emailer.Properties.Settings>
            <setting name="tableau_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_admin_username" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_admin_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="repository_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="repository_pw" serializeAs="String">
                <value/>
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="text_email_template_filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="email_sender" serializeAs="String">
                <value/>
            </setting>
            <setting name="tabcmd_program_location" serializeAs="String">
                <value/>
            </setting>
            <setting name="tabcmd_config_location" serializeAs="String">
                <value/>
            </setting>
            <setting name="html_email_template_filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value/>
            </setting>
            <setting name="export_archive_folder" serializeAs="String">
                <value/>
            </setting>
        </Tableau_Emailer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
